body {
  background-color: black;
  background-image: url("https://64.media.tumblr.com/73ca2d2bc1a485286d80bbf83ebe21a9/9d04eef358d053e0-de/s1280x1920/05055e9fe9883df7dda55c9d9ed11d55ea2c869c.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.half-screen {
  background-color: rgb(43, 233, 18);
  height: 10vh;
}

.container-h2{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.flex-right {
  align-self: flex-end;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: purple;
  width: 110px;
  height: 110px;
  margin: 3px;  
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 500px;
  margin: auto;
  position: relative;
}
